html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; /* 100% der Fensterhöhe */
  overflow: auto; /* scrollen verhindern */
}

.empty {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 400px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.empty2 {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: -50%;          /* Container so breit wie das Fenster */
  height: 20px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.everything {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 2470px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
  margin: 0 auto;      /* zentriert den Container horizontal */
  text-align: center;  /* alles, was Text ist, wird mittig */
}

.top_bar {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;          /* Symbole nebeneinander */
  align-items: center;    /* vertikal zentrieren */
  justify-content: space-around; /* gleichmäßiger Abstand */
  background: white;
  color: white;
}

.atom_logo_icon {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 30px;              /* 100 Pixel von oben */
  left: 350px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.atom_logo_icon:hover {
  transform: scale(1.4);     /* 10% größer */
}

.motiondesign_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1150px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.motiondesign_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.edits_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1320px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.edits_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.contact_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1400px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.contact_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}




.intro {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 600px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.introtext {
  position: absolute;     /* frei verschiebbar */
  top: 220px;             /* Abstand von oben */
  left: 950px;            /* Abstand von links */
  transform: translateX(-50%); /* um 0° drehen */
  font-size: 75px;        /* Schriftgröße */
  color: black;            /* Textfarbe */
  font-weight: bold;     /* fett schreiben */
  text-align: center;  /* Text zentrieren */
  font-family: "Arial";
}

.hey_imb {
  position: absolute;      /* das Bild darf frei bewegt werden */
  width: 200px;
  top: 130px;              /* 100 Pixel von oben */
  left: 400px;             /* 150 Pixel von links */
  transform: rotate(10deg); /* Bild um 20° drehen */
}

.made_with_love_imb {
  position: absolute;      /* das Bild darf frei bewegt werden */
  width: 400px;
  top: 430px;              /* 100 Pixel von oben */
  left: 200px;             /* 150 Pixel von links */
  transform: rotate(-10deg); /* Bild um 20° drehen */
}

.nice_design_imb {
  position: absolute;      /* das Bild darf frei bewegt werden */
  width: 300px;
  top: 100px;              /* 100 Pixel von oben */
  left: 1300px;             /* 150 Pixel von links */
  transform: rotate(-10deg); /* Bild um 20° drehen */
}

.atom_scream_imb {
  position: absolute;      /* das Bild darf frei bewegt werden */
  width: 250px;
  top: 410px;              /* 100 Pixel von oben */
  left: 1330px;             /* 150 Pixel von links */
  transform: rotate(10deg); /* Bild um 20° drehen */
}



.motion_design_description {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 1200px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.motion_design {
  position: absolute;     /* frei verschiebbar */
  top: 20px;             /* Abstand von oben */
  left: 950px;            /* Abstand von links */
  transform: translateX(-50%); /* um 0° drehen */
  font-size: 75px;        /* Schriftgröße */
  color: black;            /* Textfarbe */
  font-weight: bold;     /* fett schreiben */
  text-align: center;  /* Text zentrieren */
  font-family: "Arial";
}

.macbook {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 450px;              /* 100 Pixel von oben */
  left: 250px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
}

.cc_description {
  position: absolute;     /* frei verschiebbar */
  top: 320px;             /* Abstand von oben */
  left: 600px;            /* Abstand von links */
  transform: translateX(-50%); /* um 0° drehen */
  font-size: 45px;        /* Schriftgröße */
  color: black;            /* Textfarbe */
  font-weight: none;     /* fett schreiben */
  text-align: center;  /* Text zentrieren */
  font-family: "Arial";
}

.iphone {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 530px;              /* 100 Pixel von oben */
  left: 1145px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
}

.blender_description {
  position: absolute;     /* frei verschiebbar */
  top: 320px;             /* Abstand von oben */
  left: 1350px;            /* Abstand von links */
  transform: translateX(-50%); /* um 0° drehen */
  font-size: 45px;        /* Schriftgröße */
  color: black;            /* Textfarbe */
  font-weight: none;     /* fett schreiben */
  text-align: center;  /* Text zentrieren */
  font-family: "Arial";
}

.motiondesign_bb {
  position: absolute;     /* frei verschiebbar */
  top: 960px;             /* Abstand von oben */
  left: 470px;  
  color: white;                /* Textfarbe */
  background-color: #278EFF;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 25px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.motiondesign_bb:hover {
  background-color: black;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.edits_bb {
  position: absolute;     /* frei verschiebbar */
  top: 960px;             /* Abstand von oben */
  left: 1265px;  
  color: white;                /* Textfarbe */
  background-color: #278EFF;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 25px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.edits_bb:hover {
  background-color: black;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}


.bottom_bar {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 150px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.imprint {
  position: absolute;     /* frei verschiebbar */
  top: 75px;             /* Abstand von oben */
  left: 350px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 25px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.imprint:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.youtube_link {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 75px;              /* 100 Pixel von oben */
  left: 1400px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.youtube_link:hover {
  transform: scale(1.4);     /* 10% größer */
}

.tiktok_link {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 84px;              /* 100 Pixel von oben */
  left: 1340px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.tiktok_link:hover {
  transform: scale(1.4);     /* 10% größer */
}




@media (max-width: 600px) {
.top_bar {
  position: absolute;
  width: 600px;
  max-width: 1000px;
  height: 90px;
  display: flex;          /* Symbole nebeneinander */
  align-items: center;    /* vertikal zentrieren */
  justify-content: space-around; /* gleichmäßiger Abstand */
  background: gray;
  color: white;
}

.atom_logo_icon {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 23px;              /* 100 Pixel von oben */
  left: 20px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.atom_logo_icon:hover {
  transform: scale(1.4);     /* 10% größer */
}

.motiondesign_tb {
  position: absolute;     /* frei verschiebbar */
  top: 35px;             /* Abstand von oben */
  left: 90px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 10px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.motiondesign_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.edits_tb {
  position: absolute;     /* frei verschiebbar */
  top: 35px;             /* Abstand von oben */
  left: 190px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 10px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.edits_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.contact_tb {
  position: absolute;     /* frei verschiebbar */
  top: 35px;             /* Abstand von oben */
  left: 40px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 10px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.contact_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

}







