html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; /* 100% der Fensterhöhe */
  overflow: auto; /* scrollen verhindern */
}

.top_bar {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 100px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.atom_logo_icon {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 30px;              /* 100 Pixel von oben */
  left: 350px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.atom_logo_icon:hover {
  transform: scale(1.4);     /* 10% größer */
}

.motiondesign_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1150px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.motiondesign_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.edits_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1320px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.edits_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.contact_tb {
  position: absolute;     /* frei verschiebbar */
  top: 40px;             /* Abstand von oben */
  left: 1400px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 5px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.contact_tb:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.bottom_bar {
  position: relative;   /* alles im Container kann absolut positioniert werden */
  width: 100%;          /* Container so breit wie das Fenster */
  height: 150px;        /* Höhe des Containers */
  border: none;
  overflow: hidden;     /* nichts außerhalb des Containers anzeigen */
}

.imprint {
  position: absolute;     /* frei verschiebbar */
  top: 75px;             /* Abstand von oben */
  left: 350px;  
  color: white;                /* Textfarbe */
  background-color: black;      /* Hintergrundfarbe */
  padding: 5px 10px;          /* Innenabstand wie bei einem Button */
  text-decoration: none;       /* Unterstrich entfernen */
  border-radius: 25px;          /* abgerundete Ecken */
  font-size: 18px;             /* Schriftgröße */
  font-weight: bold;           /* fett */
  display: inline-block;       /* damit Padding funktioniert */
  transition: background 0.3s; /* sanfte Farbänderung beim Hover */
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: "Arial";
}

.imprint:hover {
  background-color: #278EFF;  /* Farbe beim Drüberfahren */
  transform: scale(1.1);     /* 10% größer */
}

.youtube_link {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 75px;              /* 100 Pixel von oben */
  left: 1400px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.youtube_link:hover {
  transform: scale(1.4);     /* 10% größer */
}

.tiktok_link {
  position: absolute;      /* das Bild darf frei bewegt werden */
  top: 84px;              /* 100 Pixel von oben */
  left: 1340px;             /* 150 Pixel von links */
  transform: rotate(0deg); /* Bild um 20° drehen */
  transition: transform 0.3s ease;
}

.tiktok_link:hover {
  transform: scale(1.4);     /* 10% größer */
}

